body {
    background-color: rgb(254, 170, 13);
}

header {
    display: flex;
    padding: 10px 20px;
    background-color: rgba(2, 46, 241, 0.9); 
    border-radius: 8px;
}

.image-planets:hover,
.image-planets:hover{
    transform: translateY(-50px) scale(1.1);
   
    transition: all 0.4s ease; 
    
}

.image-characters:hover,
.image-characters:hover{
    transform: translateY(-50px) scale(1.1);
   
    transition: all 0.4s ease; 
    
}